@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Anuphan", sans-serif;
  /* background-color: rgb(98, 98, 98); */
  /* background-color: rgb(242, 239, 236); */
  /* background-color: rgb(251, 255, 243);; */
  /* background-color: #f6f6f8; */
  color: #4d4e5a;
  margin: 0 auto;
  background: rgb(10, 16, 24);
}
.my-container-outside-cms {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
  padding: 0;
}

input {
  border: 1px solid gray;
}
.bg-sidebar {
  background: rgb(10, 16, 24);
  /* background: linear-gradient(
    356deg,
    rgb(215, 215, 219) 59%,
    rgb(254, 254, 254) 100%
  ); */
}
/* width */
.my-scroll::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
  position: absolute;
}

/* Track */
.my-scroll::-webkit-scrollbar-track {
  border-radius: 20px;
  
}

/* Handle */
.my-scroll::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgb(213, 151, 28);
}

/* Handle on hover */
.my-scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(213, 151, 28);
}
