@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Anuphan", sans-serif;
  /* background-color: rgb(98, 98, 98); */
  /* background-color: rgb(242, 239, 236); */
  /* background-color: rgb(251, 255, 243);; */
  /* background-color: #f6f6f8; */
  color: #4d4e5a;
}
.my-container-outside-cms {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}

input {
  border: 1px solid gray;
}
.bg-sidebar {
 background: rgb(193, 193, 203);
background: linear-gradient(356deg, rgba(234,234,238,1) 59%, rgba(254,254,255,1) 100%);
}
